* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 25em;
  background-image: url("img/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  text-align: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
}

.logo {
  width: 20%;
  max-width: 200px;
  margin-bottom: 20px;
}

/* general page background */
body {
  color: #000000;
  background: linear-gradient(90deg, #00C7FD 0%, #0081B9 100%);
  text-align: center;
  font-family: Arial, sans-serif;
}

.timeline {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  position: relative;

  overflow-x: auto;
  padding: 10px;

  /* enable snap scrolling */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
  scrollbar-width: none; /* firefox */
}

.timeline::-webkit-scrollbar {
  display: none;
}



.timeline-card {
  flex: 0 0 300px;
  position: relative;
  scroll-snap-align: center;
}

.card-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  z-index: 2;
}

.card-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

p {
  text-align: center;
}

.description, h2, h3 {
  color: black;
}

.description {
  display: none;
}

@media (max-width: 768px) {

  .timeline {
    flex-direction: column;   /* stack cards */
    overflow-x: hidden;
    overflow-y: visible;
    padding: 40px 20px;
  }

}

@media (max-width: 768px) {

  .timeline::before {
    top: 0;
    left: 30px;     /* where the dots sit */
    right: auto;

    width: 2px;     /* vertical line */
    height: 100%;
  }

  .card-dot {
    top: 90px;
    left: 4px;
    transform: none;
  }

  .desktop-only {
    display: none;
  }
}